####################
#
# barcode_arrs_JHUAPL-IAV_nb96.cfg
#
#  Created on: February 12, 2021
#  Derived from: barcode_arrs_nb96.cfg
#  Updated by: JHU/APL
#  Proprietary and confidential information of Oxford Nanopore Technologies, Limited
#  All rights reserved; (c)2017: Oxford Nanopore Technologies, Limited
#
####################
#
#  2-Barcode Arrangement Variant 1:
#  
#         BCXX_1st                           BCXX_2nd
#  FWD  >-=====------------------------------=====-\
#                                                   |
#  REV  <-=====------------------------------=====-/
#         BCXX_1st                           BCXX_2nd
#
#  leads to basecall BCXX_1st_FWD----------BCXX_2nd_REV
#
###
#
#  2-Barcode Arrangement Variant 2:
#
#     BCXX_1st                           BCXX_2nd
#   /-=====------------------------------=====->  REV
#  |
#   \-=====------------------------------=====-<  FWD
#     BCXX_1st                           BCXX_2nd
#
#  leads to basecall BCXX_2nd_FWD----------BCXX_1st_REV
#
#  the sequences BCXX_1st and BCXX_2nd will be equal
#  for most of their parts, especially for the main barcode.
#  They will usually only differ in the rear spacer between
#  barcode and (actual) strand.
#
####################

[loading_options]
barcodes_filename = barcodes_masked-JHUAPL_IAV.fasta
double_variants_frontrear = true

# ############### Native barcoding kit ###############

[BC%02i]
compatible_kits = EXP-NBD196,SQK-NBD110-96
first_index = 1
last_index = 12
kit = BC
normalised_id = barcode%02i
scoring_function = MAX
mask1 = JHUAPL_IAV_1st
barcode1 = BC%02i
